/* styles/controls.css */

/* Base Button Styles */
button,
.filter-btn,
#invertTimeline,
#zoomIn,
#zoomOut,
#resetTimeline {
    font-family: 'Minecraft', sans-serif;
    width: 32px;
    height: 32px;
    font-size: 12px;
    background-color: #333;
    border: 2px solid #555;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Dropdown */
.dropdown {
    position: relative;
    width: 200px;
}

.dropdown-header {
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    border: 2px solid #555;
    color: #727272;
    padding: 0 8px;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
}

.dropdown-header .label {
    font-family: 'Minecraft', sans-serif;
    font-size: 14px;
}

/* NOT USED */
.dropdown-header .caret {
    margin-left: auto;
    transition: transform 0.2s ease;
}

/* NOT USED */
.dropdown-header.active .caret {
    transform: rotate(180deg);
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
    border: 2px solid #555;
    border-radius: 4px;
    margin-top: 5px;
    z-index: 1000;
    max-height: 300px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
}

.dropdown-item {
    padding: 8px;
    color: white;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.2s;
    text-align: left;
    font-family: 'Minecraft', sans-serif;
    font-size: 14px;
}

.dropdown-item:hover {
    background-color: #444;
}

.dropdown-item.selected {
    background-color: #292929;
    border-left: 3px solid #1a1a1a;
}


#infoButton {
    font-family: 'Minecraft', sans-serif;
    width: 64px;
    height: 32px;
    font-size: 12px;
    background-color: #333;
    border: 2px solid #555;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Filter Buttons */
.filter-btn {
    width: auto;
    padding: 8px 16px;
}

/* Controls Container */
.controls {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 90;
}

.top-controls {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 5px;
    z-index: 100;
}

#infoButton {
    position: static;
}

/* Hover State */
button:hover,
.filter-btn:hover,
#infoButton:hover,
#invertTimeline:hover,
#zoomIn:hover,
#zoomOut:hover,
#resetTimeline:hover {
    transform: scale(1.05);
    background-color: #444;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Active State */
button:active,
.filter-btn:active,
#themeButton:active,
#infoButton:active,
#invertTimeline:active,
#zoomIn:active,
#zoomOut:active,
#resetTimeline:active {
    transform: scale(0.95);
}

/* Active Filter Button */
.filter-btn.active {
    background-color: #0047ab;
    border-color: #002f6c;
}

/* Zoom State */
.zoomed-out .month-label {
    display: none;
}

#invertTimeline {
    width: auto;
    padding: 4px 10px;
    font-size: 12px;
    text-align: center;
}

#resetTimeline {
    width: 32px;
    height: 32px;
    font-size: 12px;
    background-color: #333;
    border: 2px solid #555;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}


.modal-close-btn {
    font-family: 'Minecraft', sans-serif;
    width: 32px;
    height: 32px;
    font-size: 12px;
    background-color: #333;
    border: 2px solid #555;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.modal-close-btn:hover {
    transform: scale(1.05);
    background-color: #444;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-close-btn:active {
    transform: scale(0.95);
}



/* Text Box */
input[type="text"],
input[type="password"],
.search-container input {
    height: 32px;
    width: 100%;
    padding: 8px;
    font-family: "Minecraft", sans-serif;
    background-color: #333;
    border: 2px solid #555;
    color: white;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
.search-container input:focus {
    border-color: #888;
    outline: none;
}