/* styles/footer.css */

/* Footer Styles */
footer {
    background-color: #151515;
    color: #ffffff;
    position: sticky;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-top: 2px solid #505050;
    margin-top: auto;
    height: 40px;
    font-size: 12px;
}

.footer-box {
    flex: 1;
    padding: 5px;
    font-size: 12px;
}

.footer-right-content {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: auto;
}

.footer-right-content img {
    height: 32px;
    width: 32px;
    border-radius: 4px;
}

.left-box {
    text-align: left;
}

.right-box {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}